name: Build and upload tool cache

# Docs: https://docs.github.com/en/enterprise-server@latest/admin/github-actions/managing-access-to-actions-from-githubcom/setting-up-the-tool-cache-on-self-hosted-runners-without-internet-access

on:
  workflow_dispatch:
    inputs:
      target-cache:
        description: "Which tool cache to update"
        type: choice
        required: true
        options:
          - test-tool-cache
          - prod-tool-cache

jobs:
  upload_tool_cache:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      - name: Clear any existing tool cache
        run: |
          mv "${{ runner.tool_cache }}" "${{ runner.tool_cache }}.old"
          mkdir -p "${{ runner.tool_cache }}"

      - name: Setup Node 12.x
        uses: actions/setup-node@v2
        with:
          node-version: "12.x"

      - name: Setup Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Setup Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: "1.19"

      - name: Update tool cache for AKS
        run: |
          az storage file upload-batch --account-name "runnertoolcache" --account-key "${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}" --destination "https://runnertoolcache.file.core.windows.net/${{ github.event.inputs.target-cache }}" --source "${{ runner.tool_cache }}/"

      - name: Archive tool cache
        run: |
          cd "${{ runner.tool_cache }}"
          tar -czf tool_cache.tgz *

      - name: Upload tool cache artifact for airgapped usage
        uses: actions/upload-artifact@v2
        with:
          name: tool_cache
          path: ${{runner.tool_cache}}/tool_cache.tar.gz
